<div class='encounter-window'>
    <div class='enemy-description'>
    </div>
    <div class='event-display'>
    </div>
    <div class='encounter-controls'>
        <p class='encounter-fight btn btn-primary'>
            Fight
        </p>
        <p class='encounter-leave'>
            <a href='/'>Return to the tavern</a>
        </p>
        <p class='encounter-win' hidden>
            You win!
        </p>
    </div>
</div>
<script src='/js/encounter.js'></script>
