<div class="encounter-title">
    <h2>Encounter</h2>
</div>
<div class='encounter-window'>
    <div class='encounter-text'>
        <div class='enemy-description'>
        </div>
        <div class='event-display'>
        </div>
        <div class='encounter-controls'>
            <p class='encounter-fight btn btn-primary'>
                Fight
            </p>
            <p class='encounter-win' hidden>
                You win!
            </p>
        </div>
    </div>
</div>
<script src='/js/encounter.js'></script>
