<div class='encounter-window'>
    <div class='enemy-description'>
    </div>
    <div class='event-display'>
    </div>
    <div class='finish-encounter'>
        <p>
            <a href='/'>Return to the tavern</a>
        </p>
    </div>
</div>
<script src='/js/encounter.js'></script>
