{{!-- condition this on login status --}}
<div class="row">

  <div class="col-4">
    <div>
      <img src="../images/tavern.jpg" alt="medieval tavern interior" class="img-fluid tavern-img">
    </div>
    <div class="action-buttons">
      <div class="encounter-button row align-items-center">
        <a class='btn btn-primary' id="encounter-btn" href="/encounter">Start an encounter!</a>
      </div>
      <div class="store-button row align-items-center">
        <a class='btn btn-primary' id="store-btn">Purchase Items</a>
      </div>
      <div class="party-button row align-items-center">
        <a class='btn btn-primary' id="party-btn" >Find a Party</a>
      </div>
    </div>
  </div>

  <div class="col-8">
    <h2 class="message-board-title">Message Board</h2>
      <ol class="post-list">
        {{#each posts as |post|}}
        <li>
          {{> post-info post }}
        </li>
        {{/each}}
      </ol>
  </div>

</div>