{{!-- condition this on login status --}}
<div class="encounter-button">
  <a href="/encounter">Start an encounter!</a>
</div>

<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>