body {
  background-color: brown;
}

div {
  background-color: tan;
}

.enemy-description {
  background-color: palegoldenrod;
}

.event-display {
  min-width: 300;
  min-height: 250;
  background-color: palegoldenrod;
}
